@import "application/extras"
@import "application/colors"
@import "application/fonts"

$ninesixty_gutter_width: 10px
$ninesixty_grid_width: 100%
$ninesixty_columns: 8

$free_space: 0px
$min_width: 960px

$baseline: 20px

/* master
$base: 13px
$header: 80px

html
  :position relative
  :min-width $min_width + $free_space
  :min-height 100%
  
html, html a
  +colors(#000, 0 2px 0 rgba(255, 255, 255, 0.5))

html *
  +box-sizing
  
body
  :font
    :size $base
    :family "Comfortaa Regular", sans-serif
  :-webkit-font-smoothing antialiased
  :line-height $baseline
  :height 100%
  :min-height 100%
  
#container
  +grid-container
  
  > header
    :position relative
    :width 100%
    :z-index 101
    +children-inline
      
    > h1
      :position relative
      :width 120px
      :height $header
      :background #fff
      
      > a
        :display block
        :height 100%
        :background url(../images/icons/logo.png) no-repeat center
        +indented
        +background-size(90%)
        +transition
        
        &:hover
          :background
            :color rgba(128, 128, 128, 0.05)
        
        &.active
          :background
            :color rgba(128, 128, 128, 0.1)
    
      & + nav
        :margin
          :left -120px
        :padding
          :left 120px
    
    > nav
      :width 100%
      :text
        :align right
      :background #fff
      +children-inline
      
      > a
        :width 33.33%
        :height $header
        :line-height $header
        :background no-repeat center
        :text
          :align left
        +indented
        +background-size(auto 60%)
        +transition
        
        &:hover
          :background
            :color rgba(128, 128, 128, 0.05)
        
        &.active
          :background
            :color rgba(128, 128, 128, 0.1)
          
        &.contacts
          :background
            :image url(../images/icons/contacts.png)
        
        &.weddings
          :background
            :image url(../images/icons/weddings.png)
        
        &.personal
          :background
            :image url(../images/icons/personal.png)
  
  > section
    +absoluted
    :top $header
    :overflow auto
    +transition
    +children-inline
    
    > div
      :position relative
      :width 100%
      :height 100%
      :background rgba(128, 128, 128, 0.1)
    
      > p
        :margin
          :top 20px
        :font
          :size 26px
        :line-height 30px
        :text
          :align center
      
        &:first-child
          :margin
            :top 40px
      
        > a
          +hover-underline
    
      &.gallery
        :overflow auto
        :white-space nowrap
        +children-inline
        
        > article
          :position relative
          :width 100%
          :height 100%
          :background no-repeat center
          +background-size
          :border 10px solid transparent
        
          > a
            :position absolute
            :overflow hidden
            :z-index 1
            :width 50%
            :height 100%
            :top 0
            :background no-repeat 15px center url(../images/icons/left.png)
            +indented
            +background-size(8% auto)
            +opacity(0)
            +transition
      
            &.left
              :left 0
      
            &.right
              :left 50%
              +rotate-y(180)
      
            &:hover
              +opacity(1)